# .htaccess

# you can use or modify this settings for security and performance


######## some php flags ########
#<IfModule mod_php5.c>
#php_flag register_globals off
#php_flag register_argc_argv off
#php_flag magic_quotes_gpc off
#php_flag short_tags on
#php_value error_reporting 85
# E_ALL & ~E_NOTICE & ~E_DEPRECATED
#</IfModule>
#<IfModule mod_php7.c>
#php_flag register_globals off
#php_flag register_argc_argv off
#php_flag magic_quotes_gpc off
#php_flag short_tags on
#php_value error_reporting 85
# E_ALL & ~E_NOTICE & ~E_DEPRECATED
#</IfModule>

######## permissions ########
order deny,allow
deny from all

Options -Indexes
Options FollowSymLinks
DirectoryIndex index.php

<Files "">
order deny,allow
allow from all
</Files>

<Files ~ "(\.ico|\.gif|\.jpg|\.png|\.js|\.css|\.html|\.htm|index.php|main.php|main_admin.php|main_dyns.php|main_dyns_admin.php|main_cms.php|main_soap.php|main_wsdl.php)$">
order deny,allow
allow from all
</Files>


######## Insert gzip filter ########
<IfModule mod_deflate.c>
SetOutputFilter DEFLATE
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
SetEnvIfNoCase Request_URI .(t?gz|z|zip|bz2|rar|mp3|swf|tar|gz|gif|jp?g|png|svg|pdf)$ no-gzip dont-vary
SetEnvIfNoCase Request_URI proxy.php$ no-gzip dont-vary
</ifModule>


# for FPM CGI
#SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
#<Files ~ "(index.php|main.php|main_admin.php|main_dyns.php|main_dyns_admin.php|main_cms.php|main.dms.php|main_soap.php|main_wsdl.php)$">
#    SetHandler "proxy:fcgi://127.0.0.1:9000"
#</Files>