body {
    background-color: #f5f5f5;
}

.list-group-item {
    padding: .3rem .4rem;    
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    /*border-width: 1px 0 0 0;*/
}

.list-group > .list-group {
    padding-left: 1rem;
}

.list-group-item .fa {
    margin-right: 5px;
}

.collapse {
    display: none;
}

.collapse.show {
     display: block;
 }

.bg-lightgrey {
    background-color: #f0f0f0;
}

.cursor-pointer {
    cursor: pointer;
}
