<files "*.*">
deny from all
</files>

<Files ~ "(\.js)$">
order deny,allow
allow from all
</Files>

<Files "*.php">
  SetHandler !
  deny from all
</Files>


<IfModule mod_php5.c>
  php_flag engine off
</IfModule>

<IfModule mod_php7.c>
  php_flag engine off
</IfModule>