# .htaccess

<Files ~ "(\.gif|\.jpg|\.png|\.js|\.css|\.htm|index.php)$">
order deny,allow
allow from all
</Files>

<Files "*.php">
 #SetHandler application/x-httpd-php
 allow from all
</Files>

<IfModule mod_php5.c>
  php_flag engine on
</IfModule>

<IfModule mod_php7.c>
  php_flag engine on
</IfModule>