/* Form Editor  /  Report - Editor
------------------------------------------------------------------------*/

.formeditorPanel {
  background-color: $farbschemaWEB8;
  color: $fontc14;
  border: 1px solid $farbschemaWEB3;
  width: 240px;

}

.formeditorPanel td {
  padding: 2px;
  overflow: hidden;
}

.formeditorPanel.no-padding td {
  padding: 0;
}

.formeditorPanelHead {
  height: 15px;
  padding: 3px;
  color: $fontc7;
  background-color: $farbschemaWEB7;
  text-align: left;
  margin-top: 10px;
  cursor: s-resize;
}

.formeditorPanel .btn {
  border: 1px outset;
  cursor: pointer;
  padding: 1px;
}

#itemlist_area td {
  border-bottom: 1px solid $farbschemaWEB3;
  padding: 1px;
}