/*Global*/

A:link {
  text-decoration: none;
  color: $farbschemaWEB2;
}

A:visited {
  text-decoration: none;
  color: $farbschemaWEB2;
}

A:hover {
  text-decoration: underline;
  color: $farbschemaWEB12;
  cursor: pointer
}

.link {
  text-decoration: none;
  color: $farbschemaWEB2;
  cursor: pointer;
}

SPAN.HEADER {
  FONT-STYLE: oblique;
  font-size: $fontsize11;
  color: $farbschemaWEB2;
}

DEL {
  background-color: #fcc;
}

INS {
  background-color: #cfc;
}

table {
  font-size: $umgvarfontsize;
}

TABLE.popmenu {
  border-collapse: collapse;
  border-spacing: 0;
  EMPTY-CELLS: show;
  table-layout: fixed;
  padding: 0;
  border: none;
  background-color: $farbschemaWEB3;
}

TR.popmenu {
  font-weight: normal;
  color: $farbschemaWEB2;
  overflow: hidden;
  background-color: $farbschemaWEB3;
}

TD {
  font-weight: normal;
  /* color: $farbschemaWEB2; */
}

SELECT {
  font-weight: normal;
  background-color: $farbschemaWEB13;
  border: 1px solid $farbschemaWEB3;
  font-size: $umgvarfontsize;
}

SELECT.contextmenu {
  font-weight: normal;
  background-color: $farbschemaWEB8;
}

INPUT {
  font-weight: normal;
  background-color: $farbschemaWEB13;
  border: 1px solid $farbschemaWEB3;
  font-size: $umgvarfontsize;
}

INPUT[type=button] {
  cursor: pointer;
}

INPUT.checkbox {
  font-weight: normal;
  background-color: transparent;
  border: none;
  height: 12px;
  width: 12px;
}

INPUT.submit {
  font-size: $fontsize11;
  background-color: $farbschemaWEB8;
  border: 1px solid $farbschemaWEB7;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

INPUT.contextmenu {
  vertical-align: middle;
  background-color: $farbschemaWEB8;
}

TEXTAREA {
  font-family: $umgvarfont;
  resize: none;
  font-weight: normal;
  background-color: $farbschemaWEB13;
  border: 1px solid $farbschemaWEB3;
  font-size: $umgvarfontsize;
  resize: none;
}

i.lmb-icon[onclick] {
  cursor: pointer;
}

/* for the translation form:
    Textarea is 2 line high, the height can be increased by the user */
.language-table TEXTAREA {
  resize: vertical;
  height: 2.5em;
}

FORM {
  font-weight: normal;
  color: $farbschemaWEB2;
  margin: 0;
  padding: 0;
}


//adjust height of spectrum color select to fit input height
.sp-replacer {
  height: $input-height !important;
}
