/* Frame Top */

#lmbtopnav {
  font-size: 1rem;
  z-index: 99;
  height: 3.5rem;
  background: $top-nav-background-color;
}

/* Logo top left styles */

.top-logo-limbas {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  vertical-align: middle;
  margin-left: 0.8rem;
}

/* Frame Top 2 */

.lmbMenuItemTop2Icon {
  text-align: center;
}

.lmbMenuItemTop2Text {
  text-align: center;
  font-size: 0.7rem;
}

.lmbUpdateAvailable .lmbMenuItemTop2Icon {
  color: #f9d421;
}

/* Frame main header */
.lmbItemHeaderMain {
  background-color: $top-info-area-background-color;
  border-bottom: $top-info-border-bottom;
  box-sizing: border-box;
  color: $top-info-area-color;
  cursor: default;
  font-size: 1rem;
  padding: 0 1rem;
  line-height: 2.7;
  height: 2.7rem;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.nav-link:hover {
  cursor: pointer;
}

.navbar-nav .nav-link {
  line-height: 1.2;
}

@media (max-width: 992px) {
  .lmbMenuItemTop2Icon {
    text-align: left;
    display: inline-block;
  }

  .lmbMenuItemTop2Text {
    text-align: center;
    font-size: 1rem;
    display: inline-block;
  }

  .dropdown-menu {
    display: block;
  }

  .nav-item.dropdown {
    border: none !important;
  }

  .dropdown-item {
    padding: 0.5rem 0;
  }

  .dropdown-divider {
    display: none;
  }

  #lmb-main-title {
    padding-left: 1.5rem;
  }

  #lmbtopnav {
    height: auto;
  }

}