/* kanban ------------------------------------------------------------------------*/


.kanban-wrapper {
  display: flex;
  height: 95%;
  max-width: 100%;
  overflow: auto;
  width: 100%;
}

.kanban-header {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 100%;
}

.kanban-body {
  display: flex;
  flex-direction: row;
  height: calc(100% - 35px);
  height: -moz-calc(100% - 35px);
  height: -webkit-calc(100% - 35px);
  overflow: hidden;
  width: 100%;
}


.kanban-column {
  -moz-box-flex: 0;
  -webkit-box-flex: 0;
  flex: 0 0 280px;
  margin: 0 5px 0 0;
  max-width: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 280px;
  background-color: $kanban-colum-background-color;
  color: $kanban-colum-color;
  box-sizing: border-box;
}

.kanban-column-header{
  background-color: $kanban-colum-header-background-color;
}

.kanban-header .kanban-column {
  border-top: 3px solid;
  clear: both;
  color: $kanban-colum-header-color;
  font-weight: bold;
  height: 30px;
  padding: 7px 10px;
  text-transform: uppercase;
  overflow: hidden;
}

.kanban-body .kanban-column {
  padding:5px 10px;
}

.kanban-body .kanban-filter,
.kanban-header .kanban-filter {
  background-color: $kanban-filter-background-color;
  border: 1px solid $kanban-filter-border;
}

.kanban .col-title {
  float:left;
}
.kanban .col-add, .kanban .col-filterico {
  float:right;
  cursor:pointer;
}

.kanban .card {
  background-color: $kanban-card-background-color;
  box-shadow: 1px 1px 3px #545454;
  border-radius: 3px 3px 3px 3px;
  margin-bottom: 10px;
  cursor:pointer;
}

.kanban .card-new:hover {
  background-color: #DDDDDD;
  color: #666666;
}


.kanban .kanban-drop {
  background-color: $kanban-card-drop-background-color;
  border:$kanban-card-drop-border;
  padding:15px;
  margin-bottom: 10px;
}

.kanban .card .card-tags {
  display: flex;
}

.kanban .card .card-tags .card-tag {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  display: block;
  -webkit-flex: 1 1 0;
  -moz-flex: 1 1 0;
  -ms-flex: 1 1 0;
  flex: 1 1 0;
  height: 0.5rem;
}

.kanban .card .card-title {
  padding: 10px;
}

.kanban .card .card-meta {
  display:none;
}

.card-assigned {
  text-align: right;
}

.card-assigned-value {
  background-color: $kanban-assigned-background-color;
}

.card-assigned div {
  display: inline-block;
  margin: 0 5px 5px 0;
  background-color: $kanban-assigned-background-color;
  padding: 5px;
}

/*
 * Filter
 ***************************************
 */

#kanban-filter ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

#kanban-filter li {
  border-bottom: $kanban-filter-item-border;
  clear: both;
}

#kanban-filter li a {
  display: block;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
}

#kanban-filter li a:hover {
  text-decoration:none;
}

#kanban-filter .filter-title {
  text-transform: uppercase;
}

#kanban-filter .filter-item {
  background-color: $kanban-filter-item-background-color;
  border: $kanban-filter-item-border;
  cursor:pointer;
  margin: 15px;
  padding: 10px 40px 10px 10px;
  position: relative;
}

#kanban-filter .filter-item .name {
  display: block;
  max-width: 100%;
  overflow: hidden;
  overflow-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

#kanban-filter .filter-item .counter {
  background-color: #afafaf;
  box-sizing: border-box;
  color: #ffffff;
  height: 100%;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

#kanban-filter .filter-item .lmb-close-alt {
  position: absolute;
  right: 10px;
  top: 12px;
}

#kanban-filter .filter-item[data-factive='1'] {
  border:2px solid green;
}

#kanban-filter .filter-list {
  display: none;
  max-height: 300px;
  overflow: auto;
}

/*
 * Default-Formular
 ***************************************
 */
.kanban-default-form input[type=text], .kanban-default-form select {
  height:20px;
  width:100%;
}

.kanban-default-form > tbody > tr > td {
  padding:10px;
  vertical-align: top;
}

.kanban-default-form p {
  margin-bottom: 5px;
}