//depends on _sidenav.scss

//Multiframe
#multiframe {
  height:100%;
}

.lmbfringeFrameNav.multiframe td {
  line-height: 1.3;
}

.lmbfringeFrameNav.multiframe {
  background: $nav-right-background-color;
  border-left: $nav-right-left-border;
}

.lmbfringeFrameNav.multiframe .menu-side-header {
  color: $nav-right-header-color;
  background-color: $nav-right-header-background-color;
  border: $nav-right-header-border;
}

/* first menu level */
.lmbfringeFrameNav.multiframe > ul > li {
  background-color: $nav-right-inner-background-color;
  color: $nav-right-inner-color;
}

.lmbfringeFrameNav.multiframe > ul > li > .menu-side-header > a {
  color: $nav-right-header-color;
}

.lmbfringeFrameNav.multiframe > ul > li:hover > .menu-side-header > a {
  color: $nav-right-header-hover-color;
}

.lmbfringeFrameNav.multiframe > ul > li:hover .menu-side-header {
  color: $nav-right-header-hover-color;
  background: $nav-right-header-hover-background-color;
}

.lmbfringeFrameNav.multiframe > ul > li:hover {
  background: $nav-right-header-hover-background-color;
}

.lmbfringeFrameNav.multiframe > ul > li.open {
  color: $nav-right-inner-color;
  background: $nav-right-inner-open-background-color;
}

.lmbfringeFrameNav.multiframe > ul > li.open .menu-side-header {
  color: $nav-right-header-open-color;
  background: $nav-right-header-open-background-color;
}

/* second menu level */

/*.lmbfringeFrameNav.multiframe > ul > li > ul > li:hover > a,*/
.lmbfringeFrameNav.multiframe > ul > li > ul > li a:not([href]):not([tabindex]):hover,
.lmbfringeFrameNav.multiframe a:hover {
  color: $nav-right-inner-hover-color;
}

.evt-hide-frame.multiframe {
  color: $nav-right-hide-color;
}