/* relation tree ------------------------------------------------------------------------*/

.rtree1 {
  background: $farbschemaWEB7;
  color: white;
  font-weight: bold;
  border: 1px solid $farbschemaWEB4;
  border-radius: 3px 3px 3px 3px;
  padding: 3px;
}

.rtree2 {
  background: $farbschemaWEB10;
  border: 1px solid $farbschemaWEB12;
  border-radius: 3px 3px 3px 3px;
  padding: 3px;

}

.lmb-green-hover-red {
  color: green;
}

.lmb-black-hover-red {
  color: $farbschemaWEB2;
}

.lmb-green-hover-red:hover, .lmb-black-hover-red:hover {
  color: red;
}

.lmb-table-search-hide {
  display: none !important;
}

label {
  cursor: pointer;
}

.lmbfringeMenuSearch {
  position: sticky;
  top: 0;
  z-index: 50;
  transition: box-shadow 0.3s ease-in-out;
}

.lmbfringeMenuSearch .lmbMenuHeaderNav {
  padding-top: 7px;
  padding-bottom: unset;
}

.lmbTableSearch {
  width: calc(100% - 7px);
  padding: 5px;
  transition: box-shadow 0.3s ease-in-out;
}

.lmbTableSearch:not(:placeholder-shown) {
  box-shadow: 0 0 2px 1px $farbschemaWEB7;
  border: 1px solid $farbschemaWEB7;
}