/* Tabelle allgemein */

.tabfringe {
  background-color: $farbschemaWEB13;
  padding: 0px;
}

table.hoverable tr.tabBody:hover {
  background-color: $farbschemaWEB5
}

.tabHeader {
  background-position: top;
  background-repeat: repeat-x;
  background-color: $farbschemaWEB13;
}

.tabHeaderItem {
  font-weight: bold;
  padding: 5px 5px 5px 0;
  vertical-align: top;
}

.tabSubHeader {
  background-color: $farbschemaWEB7;
}

.tabSubHeaderItem {
  padding: 2px;
}

.tabItem2 {
  background-color: $farbschemaWEB3;
}

.tabBody {

}

.tabSortableHandle {
  cursor: move;
}

.vAlignMiddle {
  vertical-align: middle;
}

.vAlignTop {
  vertical-align: top;
}

.txtAlignCenter {
  text-align: center;
}

.txtAlignLeft {
  text-align: left;
}

/* Reiter vertikal Tabelle  */

.tabHpoolfringe {
  border: 1px solid $farbschemaWEB3;
  background-color: $farbschemaWEB13;
  border-collapse: collapse;
  border-spacing: 1px;
  padding: 5px;
}

.tabHpoolItemTR {
  border: none;
}

.tabHpoolItemActive {
  color: $fontc14;
  font-size: $fontsize11;
  white-space: nowrap;
  overflow: visible;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $farbschemaWEB13;
  border: 1px solid $farbschemaWEB3;
  border-right: none;
  border-bottom: none;
  cursor: pointer;
}

.tabHpoolItemTR:nth-last-child(2) .tabHpoolItemActive {
  border-bottom: 1px solid $farbschemaWEB3;
}

.tabHpoolItemInactive {
  color: $farbschemaWEB12;
  font-size: $fontsize11;
  white-space: nowrap;
  overflow: visible;
  padding: 10px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid $farbschemaWEB3;
}

.tabHpoolItemSpaceGtab {
  height: 100%;
}

/* Reiter horizontal Tabelle */

.tabpool {
  margin: 20px;
}

.tabpoolfringe {
  border: 1px solid $farbschemaWEB3;
  background-color: $farbschemaWEB13;
  border-top: none;
  border-collapse: collapse;
  border-spacing: 1px;
  padding: 5px;
  margin: 20px;
}

.tabpoolItemTR {

}

.tabpoolItemActive {
  background-color: $farbschemaWEB13;
  color: $fontc14;
  text-align: center;
  font-size: $fontsize11;
  white-space: nowrap;
  overflow: visible;
  padding: 3px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid $farbschemaWEB3;
  border-bottom-color: $farbschemaWEB13;
  cursor: pointer;
}

.tabpoolItemInactive {
  color: $farbschemaWEB12;
  text-align: center;
  font-size: $fontsize11;
  white-space: nowrap;
  overflow: visible;
  padding: 3px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid $farbschemaWEB3;
}

.tabpoolItemSpace {
  width: 100%;
  border-bottom: 1px solid $farbschemaWEB3;
  background-color: transparent;
}

.tabpoolItemSpaceGtab {
  width: 100%;
  border-bottom: 1px solid $farbschemaWEB3;
}

.tabpoolItemInactive:hover {
  background-color: $farbschemaWEB3;
}

.lmb-tabpoolItemnohover:hover {
  background-color: $farbschemaWEB13;
  cursor: default;
}