body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: $body-bg;
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  height: 100%;
}

.frame-container {
  display: flex;
  height: 100%;
  height: -webkit-calc(100% - 3.5rem);
  height: -moz-calc(100% - 3.5rem);
  height: calc(100% - 3.5rem);
}

.frame-container-vertical {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.frame-fill {
  flex-grow: 1;
}

@media (max-width: 992px) {
  .frame-container {
    display: flex;
    height: 100%;
    min-height: 100%;
  }
  .frame-container-vertical {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .frame-fill {
    flex-grow: 1;
  }
}

/*global*/
iframe {
  border: none;
}